.button-menu {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;

    &.is-open .icon-menu-close {
        display: block;
    }
    &.is-open .icon-menu {
        display: none;
    }

    &.is-open .logo__basic {
        display: none;
    }
    &.is-open .logo__header {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
    &:hover .icon-menu-close,
    &:focus .icon-menu-close {
        fill: $acentColor;
    }

    &:hover .icon-menu,
    &:focus .icon-menu {
        fill: $acentColor;
    }
}

.icon-menu-close {
    display: none;
}